NEXT_PUBLIC_QUIZARD_MANAGER_ADDRESS=0x37A5c193b7373A2D5973E054038743C92E49311f
NEXT_PUBLIC_QUIZARD_FACTORY_ADDRESS=0x6B2338C494Bbb64Fd06FCCfb0476b0a63A90Ae5d
NEXT_PUBLIC_QUIZARD_NFT_ADDRESS=0x57a87FA180307e28D8c59B42D469Ff5D110A7f5d
NEXT_PUBLIC_QUIZARD_JSON_API_PROVIDER_URL=
NEXT_PUBLIC_PROJECT_ID=
NFT_DISTRIBUTOR_PRIVATE_KEY=